@import url(./_active/header-info__link-item_active.css);

.header-info__link-item {
    margin-right: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-info__link-item:last-child {
    margin-right: 0;
}
