@import url(./_color/_white/header-info__link-item_color_white.css);
@import url(./_color/_black/header-info__link-item_color_black.css);

.header-info__link-item {
    margin-right: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-info__link-item:last-child {
    margin-right: 0;
}
