.footer__copyright {
  margin: 0;
  font-family: 'Roboto',  Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media screen and (min-width: 766px){
  .footer__copyright {
    margin-right: 25px;
  }
}
