.input__item {
  height: 56px;
  border: 1px solid #D1D2D6;
  border-radius: 100px;
  padding: 17px 16px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.input__item:focus {
  outline: none;
  border: 3px solid #2F71E5;
}

@media screen and (min-width: 766px){
  .input__item {
    padding-right: calc(160px + 16px);  /* Длина кнопки "Искать" + внутренний отступ */
  }
}

@media screen and (min-width: 1024px){
  .input__item {
    height: 64px;
  }
}
