@import url(../../fonts/fonts.css);
@import url(./__text/description__text.css);

.description {
  padding: 16px calc(16px + (100vw - 320px)*(40 - 16)/(768 - 320));
  font-family: 'Roboto', Arial, sans-serif;
}

@media screen and (min-width: 423px){
  .description{
    padding-top: 30px;
    padding-bottom: 56px;
  }
}
