@import url(./__nav-menu/header__nav-menu.css);
@import url(./__info/header__info.css);
@import url(../../fonts/fonts.css);
@import url(./__page-links/header__page-links.css);
@import url(./__link-item/header__link-item.css);
@import url(./__text/header__text.css);

.header {
    height: 536px;
    background-image: url(../../images/header/background.jpg);
    background-size: cover;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0 16px;
    color: white;
    margin: 0 auto;
}
