@import url(./__name/technology__name.css);

.technology {
  max-width: 120px;
  margin: 0;
  /* margin-bottom: 33px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .technology:last-child  {
  margin-bottom: 0;
} */
