@import url(../../fonts/fonts.css);
@import url(./__page-links/footer__page-links.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__nav-menu/footer__nav-menu.css);
@import url(./__icons/footer__icons.css);
@import url(./__icon-item/footer__icon-item.css);

.footer {
    margin: 0 16px 22px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    justify-content: space-between;
}
