@import url(../../fonts/fonts.css);
@import url(./__header/table__header.css);
@import url(./__line/table__line.css);
@import url(./__day/table__day.css);
@import url(./__percent/table__percent.css);

.table {
  font-family: 'Roboto', Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 8px;
}
