@import url('../../fonts/fonts.css');
@import url('./__date/commit-card__date.css');
@import url('./__message/commit-card__message.css');

.commit-card {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  padding: 16px;
  max-width: 288px;
  min-width: 288px;
  height: 264px;
  border-radius: 16px;
  margin-right: 8px;
}

.commit-card:last-child {
  margin-right: 0;
}
