.header__logo {
  line-height: normal;
  vertical-align: middle;
  content: url(../../../images/header/logo.svg);
}

@media screen and (min-width: 423px){
  .header__logo{
    content: url(../../../images/header/logo-large.svg);
  }
}
